fastapi
uvicorn
python-multipart
python-docx
PyMuPDF
groq
python-dotenv
langchain
langchain-groq
langgraph
pydantic
pydantic-settings
aiosqlite
langchain-openai
chromadb
sentence-transformers
rank-bm25
numpy
